extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/circles' method='post')
    div
      | name:
      input(type='text' name='name')
    div
      | author:
      input(type='text' name='author')
    div
      | pixiv:
      input(type='text' name='pixivURL')
    input(type='submit')