extends layout

block content
  h1= title
  p Welcome to #{title}
  div(class='row')
    form(action='/circles' method='post')
      div(class='row')
        div(class='input-field')
          label(for='name') name
          input(id='name' type='text' name='name' class='validate')
        div(class='input-field')
          label(for='author') author
          input(id='author' type='text' name='author' class='validate')
        div(class='input-field')
          label(for='pixivURL') pixivURL
          input(id='pixivURL' type='text' name='pixivURL' class='validate')
        button(class='btn waves-effect waves-light' type='submit' name='action') submit
          i(class='material-icons right') send
