extends layout

block content
  div.container
    h1= title
    a(class="btn-floating btn-large modal-trigger waves-effect waves-light red" href="#modal")
      i.material-icons add

    table(class='striped highlight')
      tr
        thead
          th event name
          th event date
          th
      tbody
        each event,i in events
          tr
            td
              #{event.eventName}
            td
              #{event.eventDate}
            td
              a(href='/events/edit') edit data

  div#modal(class="modal")
    form(class='col s12' action='/checks/new' method='post')
      div.modal-content
        h4 Add Event
          div(class='input-field')
            input(id='eventName' name='eventName' type='text' class='validate')
            label(for='eventName') eventName
          div(class='input-field')
            input(id='eventDate' name='eventDate' type='date' class='datepicker')

          button(class='btn waves-effect waves-light' type='submit' name='action') Submit
            i(class='material-icons') send
      div.modal-footer
        a(href="#!" class="modal-action modal-close waves-effect waves-green btn-flat") agree

  script(type='text/javascript', src='/js/jquery.min.js')
  script(type='text/javascript', src='/js/materialize.min.js')
  script(type='text/javascript', src='/js/events.js')
