extends layout

block content
  div.container
    h1= title
    a(class="btn-floating btn-large modal-trigger waves-effect waves-light red" href="#modal")
      i.material-icons add

    table(class='striped highlight')
      tr
        thead
          th event name
          th event date
          th
      tbody
        each event,i in events
          tr
            td
              #{event.eventName}
            td
              #{event.eventDate}
            td
              a(href='/events/edit') edit data

  div.container
    form(class='col s12' action='/checks/new' method='post')
      div.row
          div(class='input-field col s5')
            input(id='eventName' name='eventName' type='text' class='validate')
            label(for='eventName') event name
          div(class='input-field col s5')
            input(id='eventDate' name='eventDate' type='date' class='datepicker')
            label(for='eventDame') event date
          div(class='input-field col s2')
            button(class='btn waves-effect waves-light' type='submit' name='action')
              i(class='material-icons') send

  script(type='text/javascript', src='/js/jquery.min.js')
  script(type='text/javascript', src='/js/materialize.min.js')
  script(type='text/javascript', src='/js/events.js')
