doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(type='text/css', rel='stylesheet', href='/css/materialize.min.css', media='screen,projection')

  body
    block content
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/materialize.min.js')
